.lm-video-capture-video-section {
  text-align: center;
  position: relative;
}
.lm-video-capture-processing {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
  padding-top: 20px;
}
.lm-video-capture-message {
  text-align: center;
}
.lm-video-capture-record-start-btn-style, .lm-video-capture-record-stop-btn-style {
  display: inline-block;
  cursor: pointer;
}
.lm-video-capture-record-stop-btn-style {
  margin-left: 10px;
}